myhostname = mail.{{ postfix_domain }}
myorigin = {{ postfix_domain }}
mydestination = {{ postfix_domain }}, mail.{{ postfix_domain }}, localhost, localhost.localdomain
relayhost =
mynetworks = 127.0.0.0/8 10.0.0.0/24
mailbox_size_limit = 0
recipient_delimiter = +
inet_interfaces = all

alias_maps = hash:/etc/aliases proxy:pgsql:/etc/postfix/pgsql-aliases.cf
local_recipient_maps = proxy:pgsql:/etc/postfix/pgsql-boxes.cf $alias_maps
mailbox_transport = lmtp:unix:private/dovecot-lmtp

#smtpd_tls_cert_file=/etc/ssl/certs/mailcert.pem
#smtpd_tls_key_file=/etc/ssl/private/mail.key
#smtpd_use_tls=yes
#smtpd_tls_session_cache_database = btree:${data_directory}/smtpd_scache
#smtp_tls_session_cache_database = btree:${data_directory}/smtp_scache
#smtpd_tls_security_level=may
#smtpd_tls_protocols = !SSLv2, !SSLv3