{% extends "sqlinject/base.html" %}

{% block user-info %}
    User: {{user.first_name}} {{user.last_name}} <br>
    username: {{user.username}} <br>    
    <a href="/sqlinject/logout">Logout</a> <br><br><br>
{% endblock %}

{% block search-bar %}
    <form action="{% url 'home' %}" method="POST" role="form">
        <fieldset>
            <legend>Search Orders</legend>
        
            <div class="form-group">
                <label for="">Enter Order Info:</label>
                <input type="text" class="form-control" name="sql_query_order" placeholder="Keywords">
            </div>
        
            <button type="submit" class="btn btn-primary">Submit</button>
        </fieldset>
        <input type="hidden" name="tag_order" value="">
    {% csrf_token %}
    </form>

    <form action="{% url 'home' %}" method="POST" role="form">
        <fieldset>
            <legend>Search User</legend>
        
            <div class="form-group">
                <label for="">Enter User Info:</label>
                <input type="text" class="form-control" name="sql_query_first_name" placeholder="First Name">
                <input type="text" class="form-control" name="sql_query_last_name" placeholder="Last Name">
            </div>
        
            <button type="submit" class="btn btn-primary">Submit</button>
        </fieldset>
        <input type="hidden" name="tag_user" value="">
    {% csrf_token %}
    </form>
{% endblock %}
